body {
  font-size: 17px;
  font-family: sans-serif;
  background: #f4f4f4;
  line-height: 1.5em;
  margin: 0;
} 
  
header{
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.75);
  color:#fff;
  padding:20px;
  text-align: center;
  border-bottom: 5px rgba(240, 240, 240, 0.75) solid;
  margin-bottom: 10px;
}

button{
  font-size: 1.5em;
  padding: 10px;
  margin: 0 0.8em;
  color: white;
  background-color: rgb(32, 53, 128);
  border: 2px solid rgb(173, 157, 255);
  border-radius: 5px;
  cursor: pointer;
}

#custom-button{
  margin: 0;
  font-size: 1.5em;
  padding: 15px;
  color: white;
  background-color: rgb(128, 32, 45);
  border: 2px solid rgb(255, 157, 190);
  border-radius: 5px;
  cursor: pointer;
}

#custom-text{
  color: rgb(0, 0, 0);
}

#song-header{
  position: fixed;
  bottom: 1.5vh;
  right: 0.5vw;
  color: white;
  text-align: right;
  font-size: 1.5em;
}

#song-display{
  position: fixed;
  bottom: 1vh;
  right: 0.5vw;
  margin: 0;
  color: white;
  text-align: right;
  font-size: 1.5em;
}

#container{
  width:95%;
  margin:auto;
  padding:10px;
}

#warning-box{
  text-align: center;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  padding: 1em;
  color: #fff;
  font-size: 3em;
}

#title{
  font-size: 4em;
  margin: 0 0 0.3em;
  padding: 1em;
}
